body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Lexend, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
    background-color: antiquewhite;
    color: #1f2937;
    flex-wrap: wrap;
    gap: 10px;

}

.top-row-links {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


.top-row-links li:hover {
    text-decoration: underline;
}

.underlined {
    text-decoration: underline;

}


.welcome {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 0;
    padding: 75px 150px;
    background-color: #1f2937;
    color: rgb(255, 255, 255);
}

.hero-left {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    width: 600px;
    margin: auto;
}


.rick {
    width: 300px;
    flex: 3 1 auto;
    border-radius: 100px;
}





.signUpButton {
    margin: 0;
    border-width: 5px;
    padding: 15px 0;
    border-color: aliceblue;
    border-style: solid;
    color: inherit;
    background-color: #9f2424;
    font-size: 25px;
    font-weight: 700;
    border-radius: 100px;
}

.signUpButton a {
    padding: 20px;

}



.signUpButton:hover {
    background-color: gold;
    border-color: #be0000;
    color: #be0000;

}

.signUpButton:active {
    transform: translateY(4px);
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: inherit;
}

.infos {
    display: flex;
    flex-direction: column;
}

.info-header {
    margin: 0;
    padding-top: 50px;
    font-size: 50px;
    margin: 0;
    font-weight: 500;

}

.info-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 150px 150px;
    gap: 60px;
}

.info-content img {
    width: 300px;
    border-radius: 30px;
}

.info-content {
    text-align: center;

}

.quote-container {
    background-color: antiquewhite;
}

.quote {
    width: 700px;
    height: auto;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}


.last-row-container {
    margin: 0;
    padding: 150px;
    background-image: url(img/rickroll.gif);
    background-position: center;
    background-size: cover;
    background-color: white;
}

.last-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #1f2937;
    border-radius: 50px;
    margin: 0;
    padding: 100px 10px;
}

.last-row button {
    align-self: center;
}

.last-chance {
    align-self: center;
}

.last-row-bottom {
    display: flex;
    flex-direction: column;
}