body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Lexend, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
    background-color: antiquewhite;
    color: #1f2937;
    flex-wrap: wrap;
    gap: 10px;

}

.top-row-links {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


.top-row-links li:hover {
    text-decoration: underline;
}

.underlined {
    text-decoration: underline;

}


.welcome {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 0;
    padding: 75px 150px;
    background-color: #1f2937;
    color: rgb(255, 255, 255);
}

.hero-left {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    width: 600px;
}


.rick {
    width: 300px;
    flex: 3 1 auto;
    border-radius: 100px;
}





.signUpButton {
    margin: 0;
    border-width: 5px;
    padding: 15px 0;
    border-color: aliceblue;
    border-style: solid;
    color: inherit;
    background-color: #9f2424;
    font-size: 25px;
    font-weight: 700;
    border-radius: 100px;
}

.signUpButton a {
    padding: 20px;

}



.signUpButton:hover {
    background-color: gold;
    border-color: #be0000;
    color: #be0000;

}

.signUpButton:active {
    transform: translateY(4px);
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: inherit;
}